/* besidebar */
.bar {
  padding: 0;
  margin-top: 150px;
  font-size: 20px;
  margin-left: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.bar a {
  display: block;
  padding: 20px;
  color: black;
}

.bar a:hover {
  color: red;
}

.vertical-line {
  border-left: 1px solid black;
  height: 2200px;
  position: absolute;
  left: 300px;
  transform: translateX(-50%);
}

/* besidebar */

/* ebook */
.products {
  display: flex;
  margin-left: 250px;
  flex-direction: column;
}

.products .heading {
  color: rgb(0, 0, 0);
  font-family: Georgia, serif;
  margin-left: 360px;
}

.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box-container .box {
  flex: 1 1 20rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: var(--pink);
  background: rgba(255, 51, 153, 0.05);
  z-index: 1;
  border-radius: 0.5rem;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box:hover .image img {
  transform: scale(1.1);
}

.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}

.products .box-container .box:hover .image .icons {
  bottom: 0;
}

.products .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: var(--pink);
  color: #fff;
}

.products .box-container .box .image .icons .cart-btn {
  border-left: 0.1rem solid #fff7;
  border-right: 0.1rem solid #fff7;
  width: 100%;
}

.products .box-container .box .image .icons a:hover {
  background: #333;
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--pink);
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

/* ebook */

/* chinesebook */
